{% if comment -%}
{{ comment }}
{% endif -%}
#[derive(Debug, PartialEq, Serialize, Deserialize)]
pub struct {{ name }} {
{%- for field in fields %}
{% if field.comment -%}
{{ field.comment | indent(width=4, first=true) }}
{% endif %}    pub {{ field.name }}: {{ field.field_type }},{%- endfor %}
}