#[derive(Debug, PartialEq, Serialize, Deserialize)]
pub struct {{ name }} {
{%- for field in fields %}
{% if field.comment -%}
    {{ field.comment | indent(width=4, indent_first_line=true) }}
{% endif %}    pub {{ field.name }}: {{ field.field_type }},{%- endfor %}
}